## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/ 
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import ActionChains

driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https://www.shine.com/')

jobs_menue=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//ul[@class="navbar_navMenu__LsN0c"]/li[2]/a')))
action = ActionChains(driver)
action.move_to_element(jobs_menue).perform()
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="cls_toggle_search searchWrap ml-30 mt-10"]/input'))).click()
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//input[@id="id_q"]'))).send_keys('Data Analyst')
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//input[@id="id_loc"]'))).send_keys('Bangalore')
WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//button[@class=" btn btn-secondary undefined"]'))).click()

WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//button[@class="btn btn-secondary btn-xs"]'))).click()
driver.switch_to.window(driver.current_window_handle)

job_links=WebDriverWait(driver,10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')))
jobs_df=pd.DataFrame(columns=['Job Title', 'Company', 'Location', 'Experience', 'Salary'])
for i, job_link in enumerate(job_links):
    if i==10:
        break
    
    driver.execute_script("arguments[0].click();", job_link)
    time.sleep(5)

    job_title=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//h2[@class="font-size-24"]'))).text.strip()
    company=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="JobDetailWidget_jobCard_cName__qvsdW"]/span'))).text.strip()
    location=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class=" JobDetailWidget_jobCard_lists_item__w6Yow JobDetailWidget_locationIcon__u85a7"]/a')))                                                                                                            .text.strip()
    salary=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="JobDetailWidget_jobCard_lists_item__w6Yow undefined JobDetailWidget_salaryIcon__lz4lf"]')))                                                                                                        .text.strip()
    experience=WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="JobDetailWidget_jobCard_lists_item__w6Yow JobDetailWidget_jobIcon__mjaNB undefined"]')))                                                                                                        .text.strip()
    jobs_df.loc[i]=(job_title, company, location, experience, salary)

jobs_df

,Job Title,Company,Location,Experience,Salary
0,Data Analyst Recruitment,RADHIKA ENTERPRISES,Oman,0 to 4 Yrs,Rs 6 - 9 Lakh/Yr
1,Data Analyst Recruitment,RADHIKA ENTERPRISES,Oman,0 to 4 Yrs,Rs 6 - 9 Lakh/Yr
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Talent Leads HR Solutions Pvt Ltd,Bangalore,3 to 8 Yrs,Rs 6 - 12 Lakh/Yr
3,Data Analyst,MILLENNIUM BABYCARES PRIVATE LIMITED,Dibrugarh,9 to 14 Yrs,Rs 5 - 12 Lakh/Yr
4,Clinical Data Analyst,TECHNO ENDURA,Bangalore,0 to 1 Yr,Rs 3.5 - 4.5 Lakh/Yr
5,Data Analyst,Sahast Sales Corporation,Nashik,12 to 22 Yrs,Rs 10 - 22 Lakh/Yr
6,Data Governance Analyst,WHITE HORSE MANPOWER CONSULTANCY (P) LTD,Bangalore,5 to 8 Yrs,Rs 12 - 22 Lakh/Yr
7,Data Analyst,Sahast Sales Corporation,Patan,12 to 22 Yrs,Rs 5 - 12 Lakh/Yr
8,Hiring For Data Analyst,RADHIKA ENTERPRISES,Oman,0 to 4 Yrs,Rs 6 - 9 Lakh/Yr
9,Azure Data engineer,CAPGEMINI TECHNOLOGY SERVICES INDIA LIMITED,Bangalore,6 to 10 Yrs,Rs 8 - 18 Lakh/Yr

## Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options

user_agent="Mozilla/5.0 (Windows NT 10"

chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument(f'user-agent={user_agent}')
driver=webdriver.Chrome(options=chrome_options)
driver.get('https://www.naukri.com/')

skill_selector="input[placeholder='Enter skills / designations / companies']"
location_selector="input[placeholder='Enter location']"
search_button_selector=".qsbSubmit"

WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.CSS_SELECTOR, skill_selector))).send_keys('Data Analyst')
WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.CSS_SELECTOR, location_selector))).send_keys('Bangalore')
WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.CSS_SELECTOR, search_button_selector))).click()

titles=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="srp-jobtuple-wrapper"]/div/div[1]/a')))
locations=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="srp-jobtuple-wrapper"]/div/div[3]/div/span[3]/span/span')))
companys=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="srp-jobtuple-wrapper"]/div/div[2]/span/a[1]')))
experiences=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="srp-jobtuple-wrapper"]/div/div[3]/div/span[1]/span/span')))

titles_=[title.text for title in titles]
locations_=[location.text for location in locations]
companys_=[company.text for company in companys]
experiences_=[experience.text for experience in experiences]
job_df=pd.DataFrame({'Job Title':titles_, 
                     'Location':locations_, 
                     'Company':companys_, 
                     'Experience Level':experiences_
                     })
job_df

,Job Title,Location,Company,Experience Level
0,Data Analyst,Hybrid - Bangalore Rural,Allegis Group,7-12 Yrs
1,Data Analyst,Remote,Data Analyst,2-7 Yrs
2,Data Analyst I,Bengaluru,IBM,3-5 Yrs
3,Data Analyst,Bengaluru,Genius Consultants,3-6 Yrs
4,Data Analyst,Bengaluru,MS Clinical Research (p) Ltd,1-4 Yrs
5,Data Analyst || Coforge,"Bengaluru, Greater Noida, Uttar Pradesh",Coforge,7-10 Yrs
6,Data Analyst,"Pune, Bengaluru, Delhi / NCR",M/S Commerz Realty,2-7 Yrs
7,Payer Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Agilite,3-7 Yrs
8,Data Analyst Data Classification & Attestation,Bengaluru,Illumina,3-5 Yrs
9,Data Analyst Data Classification & Attestation,Bengaluru,Illuminz,3-5 Yrs
10,Data Analyst (Profisee MDM),Remote,Brillio,2-7 Yrs
11,Data Analyst,Bengaluru,Rapsys Tech Solutions,3-5 Yrs
12,Data Analyst,"Hybrid - Pune, Delhi / NCR, Bengaluru",Incanus Technologies,1-6 Yrs
13,Data Analyst,Bengaluru,Orcapod Consulting Services,8-13 Yrs
14,Data Analyst III,Bengaluru,Firm in IT Services Sector,6-10 Yrs
15,Data Analyst,Bengaluru,Paypal,3-6 Yrs
16,Data Analyst- Communication Equipment Domain,"Noida, Bengaluru",JK Technosoft,5-10 Yrs
17,Analyst - Data Governance,Bengaluru,Anixter,2-6 Yrs
18,Data Scientist & Analyst,Bengaluru,Itday India!,5-7 Yrs
19,"Data Eng, Mgmt & Governance Analyst",Bengaluru,Accenture,3-5 Yrs

## Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [3]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.options import Options

user_agent="Mozilla/5.0 (Windows NT 10"

chrome_options = Options()
chrome_options.add_argument('--headless')
chrome_options.add_argument(f'user-agent={user_agent}')
driver=webdriver.Chrome(options=chrome_options)
driver.get('https://www.flipkart.com/')

product_selector="//input[@placeholder='Search for Products, Brands and More']"
search_button_selector="//button[@title='Search for Products, Brands and More']//*[name()='svg']"

WebDriverWait(driver,10).until(expected_conditions.presence_of_element_located((By.XPATH, product_selector))).send_keys('sunglasses')
WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, search_button_selector))).click()

brands_=[]
details_=[]
prices_=[]
counter=0
while True:    
    details=WebDriverWait(driver, 10).until(expected_conditions.presence_of_all_elements_located((By.XPATH, '//div[@class="_2B099V"]/a[1]')))
    for detail in details:
        detail.click()
        parent=driver.window_handles[0]
        child=driver.window_handles[1]
        driver.switch_to.window(child)
        if counter<100:
            brands_.append(WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="G6XhRU"]'))).text.strip())
            details_.append(WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, '//span[@class="B_NuCI"]'))).text.strip())
            prices_.append(WebDriverWait(driver, 10).until(expected_conditions.presence_of_element_located((By.XPATH, '//div[@class="_30jeq3 _16Jk6d"]'))).text.replace('₹', '').strip())
            counter+=1
            driver.close()
            driver.switch_to.window(parent)
        else:
            break
            
    if counter==100:
        break
    WebDriverWait(driver,10).until(expected_conditions.element_to_be_clickable((By.XPATH, '//a[@class="_1LKTO3"]'))).click()
    time.sleep(10)
    
driver.close()
driver.quit()

product_df=pd.DataFrame({
    'Brand':brands_,
    'Description':details_,
    'Price':prices_
})
product_df

            Brand                                        Description  Price
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  1,209
1   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    879
2            SRPM  UV Protection Wayfarer Sunglasses (50)  (For M...    169
3       Elligator  UV Protection, Mirrored Wayfarer Sunglasses (5...    169
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    149
..            ...                                                ...    ...
95  VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    549
96  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    818
97  VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    879
98        DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...    199
99      Elligator  UV Protection Round Sunglasses (53)  (For Men ...    169

[100 rows x 3 columns]